.pikachu {
  width: 1em;
  height: .968em;
  position: relative;
}

.pikachu .face {
  width: .75em;
  height: .625em;
  border: .023em solid #33363A;
  position: absolute;
  top: .296em;
  left: .101em;
  border-radius: 95% / 100% 100% 89% 89%;
  background: #FFD400;
  overflow: hidden;

  -webkit-box-shadow: inset 0em -0.132em 0em 0em #FFB000;
  -moz-box-shadow: inset 0em -0.132em 0em 0em #FFB000;
  box-shadow: inset 0em -0.132em 0em 0em #FFB000;
  z-index: 5;
}

.pikachu .face:before {
  content: "";
  width: .523em;
  height: .203em;
  left: .109em;
  top: -0.007em;
  position: absolute;
  display: block;
  border-radius: 100%;
  -webkit-box-shadow: inset 0em .078em 0em 0em #FFF800;
  -moz-box-shadow: inset 0em .078em 0em 0em #FFF800;
  box-shadow: inset 0em .078em 0em 0em #FFF800;
}

.pikachu .cheek {
  width: .109em;
  height: .109em;
  background: #FF1A1A;
  border-radius: 100%;
  position: absolute;
  top: .312em;
  overflow: hidden;
}

.pikachu .cheek:before {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  background: #D61D1D;
}

.pikachu .cheek.left {
  left: .078em;
}

.pikachu .cheek.right {
  left: .562em;
}

.pikachu .eye {
  width: .117em;
  height: .117em;
  background: #33363A;
  border: 0.015em solid #33363A;
  border-radius: 100%;
  top: 0.156em;
  position: absolute;
  overflow: hidden;
}

.pikachu .eye:before {
  width: 0.023em;
  height: 0.023em;
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  top: 0.031em;
  left: 0.015em;
  border-radius: 100%;
}

.pikachu .eye:after {
  content: "";
  width: 0.156em;
  height: .117em;
  border-radius: 100%;
  background: #6D5C4D;
  display: block;
  position: absolute;
  left: -0.015em;
  top: .078em;
}

.pikachu .eye.left {
  left: .109em;
}

.pikachu .eye.right {
  left: 0.484em;
}

.pikachu .mouth {
  position: absolute;
  left: .281em;
  top: .289em;
}

.pikachu .mouth:before,
.pikachu .mouth:after {
  content: "";
  width: 0.062em;
  height: 0.031em;
  display: block;
  border-radius: 50%/  0 0 100% 100%;
  border: 0.023em solid transparent;
  border-bottom-color: #33363A;
  position: absolute;
  top: 0;
  left: 0;
}

.pikachu .mouth:after {
  left: .078em;
}

.pikachu .nose {
  position: absolute;
  left: .328em;
  top: .265em;
  border-radius: 100%;
  overflow: hidden;
  width: .093em;
  height: .054em;
}

.pikachu .nose:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: .039em .078em 0 .078em;
  border-color: #33363A transparent transparent transparent;
  position: absolute;
  top: 0.015em;
  left: -0.031em;
}

.pikachu .nose-ligth {
  width: 0.171em;
  height: .046em;
  background: #FFF800;
  top: .234em;
  left: .289em;
  position: absolute;
  border-radius: 50% / 100% 100% 0 0;
}

.pikachu .ear {
  width: .382em;
  height: .554em;
  border-radius: 100%;
  position: absolute;
  top: -0.015em;
  left: .054em;
  transform: rotate(-35deg);
  overflow: hidden;
  z-index: 10;
}

.pikachu .ear__inner {
  width: .351em;
  height: .507em;
  border-radius: 100%;
  background: #FFD400;
  position: absolute;
  top: -0.031em;
  left: -0.195em;
  overflow: hidden;
}

.pikachu .ear__inner:before {
  content: "";
  height: 100%;
  width: 25%;
  background: #FFB000;
  position: absolute;
  display: block;
  right: 24%;
  overflow: hidden;
  transform: rotate(4deg);
}

.pikachu .ear__inner:after {
  content: "";
  height: 95%;
  width: 0.195em;
  border-radius: 100%;
  background: #33363A;
  position: absolute;
  display: block;
  right: -0.015em;
  top: -0.234em;
}

.pikachu .ear__line {
  width: .398em;
  height: .585em;
  border-radius: 100%;
  position: absolute;
  top: -0.031em;
  left: 0.031em;
  transform: rotate(-32deg);
  overflow: hidden;
  z-index: 0;
}

.pikachu .ear__line .ear__inner {
  background: #33363A;
  top: 0em;
  left: -0.156em;
  height: .523em;
}

.pikachu .ear__line .ear__inner:before,
.pikachu .ear__line .ear__inner:after {
  display: none;;
}


.pikachu .ear.right {
  transform: rotate(24deg);
  left: .765em;
  top: .101em;
}

.pikachu .ear.right .ear__inner:after {
  right: -0.031em;
}

.pikachu .ear.right .ear__inner:before {
  right: -3%;
  transform: rotate(8deg);
}

.pikachu .ear__line.right {
  transform: rotate(27deg);
  left: .75em;
  top: .078em;
  width: .414em;
  height: .570em;
}
